/* ### GLOBAL ### */

body {
  background: #1a1a1a;
}

h1 {
  margin: 0;
}

/* ### HEADER ### */

.header-container {
  top: 0;
  display: grid;
  justify-content: center;
}

.header-item {
  justify-self: start;
}

.game-title {
  font-family: 'Courier New';
  font-size: 6vw;
  text-align: center;
  color: #f2f2f2;
}

.sub-title {
  line-height: 0em;
  font-family: 'Courier New';
  font-size: 3vw;
  text-align: center;
  color: #ff3333;
}

/* ### NAV BUTTONS */

.background {
  /* The image used */
  background-image: url('http://i64.tinypic.com/2d8j0pi.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-grid-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.5vh;
}

.button-grid-item {
  justify-self: center;
}

.welcome-btn {
  color: #1a1a1a;
  border-radius: 30px;
  text-align: center;
  width: 7em;
  height: 2em;
  font-size: 3vw;
  font-family: 'Courier New';
}

.welcome-btn:hover {
  background: #cc0000;
  cursor: pointer;
  color: #f2f2f2;
}

/* ### HOW TO PLAY */

.how-to-play-container {
  display: grid;
  justify-content: center;
}

.how-to-play-grid-item {
  justify-self: center;
  border: 1px solid green;
  text-align: center;
  border-radius: 15px;
  width: 80vw;
}

.how-to-play-title {
  font-family: 'Courier New';
  font-size: 3vw;
  color: green;
}

.trapped {
  font-family: 'Courier New';
  font-size: 3vw;
  color: red;
}

.play-list {
  list-style: none;
  line-height: 2em;
}

.play-instructions {
  font-family: 'Courier New';
  font-size: 1.5vw;
  color: white;
}

.hiro-link {
  text-decoration: none;
  font-family: 'Courier New';
  font-weight: bold;
  color: white;
}

.play-btn {
  color: #1a1a1a;
  border-radius: 30px;
  text-align: center;
  width: 6em;
  height: 2em;
  font-size: 3vw;
  font-family: 'Courier New';
}

.play-btn:hover {
  background: green;
  cursor: pointer;
  color: #f2f2f2;
}

/* ### HOW TO PLAY */

.inventory {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: dimgray;
  border-radius: 2px;
  border-style: solid 2px;
  text-align: center;
  font-family: 'Courier New';
}

.inv-item {
  font-size: 10px;
  justify-content: space-between;
}

.inv-png {
  width: 30px;
  height: 30px;
}
