/* ### GLOBAL ### */

body {
  box-sizing: border-box;
  background: #1A1A1A;
  margin: 0;
}



/* ### BACKGROUND IMAGE / ANIMATION ### */

.main-title {
  font-family: 'Special Elite', cursive;
  color: white;
  text-align: center;
  font-size: 5vw;
  z-index: 10;
}

/* Background */
.background-image {
  margin: 0;
  background-image: url('background.jpeg');
  background-size: auto;
  background-position: 0px -300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fog-img {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: -1;
}

.fog-img1 {
  background: url('fog-1.png');
  background-size: contain;
  animation: marquee 60s linear infinite;
  z-index: -1;
}

.fog-img2 {
  background: url('fog-2.png');
  background-size: contain;
  animation: marquee 40s linear infinite;
  z-index: -1;
}

/* Marquee */
@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-200vw, 0, 0); }
}


/* ### HEADER ### */
.header-container {
  top: 0;
  display: grid;
  justify-content: center;
}

.header-item {
  justify-self: start
}

.game-title {
  font-family: 'Courier New';
  font-size: 6vw;
  text-align: center;
  color: #F2F2F2;
}

.sub-title {
  line-height: 0.0em;
  font-family: 'Courier New';
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  color: #FF3333;
}

/* ### NAV BUTTONS */

.button-grid-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.5vh;
}

.button-grid-item {
  justify-self: center;
}

.welcome-btn {
  color: #1A1A1A;
  border-radius: 20px;
  text-align: center;
  width: 5em;
  height: 1.5em;
  font-size: 3vw;
  font-family: 'Special Elite', cursive;
}

.welcome-btn:hover {
  background: #CC0000;
  cursor: pointer;
  color: #F2F2F2;
}



/* ### HOW TO PLAY */

.how-to-play-container {
  display: grid;
  justify-content: center;
}

.how-to-play-grid-item {
  justify-self: center;
  border: 1px solid green;
  text-align: center;
  border-radius: 15px;
  width: 80vw;
}

.how-to-play-title {
  font-family: 'Courier New';
  font-size: 3vw;
  color: green;
}

.trapped {
  font-family: 'Courier New';
  font-size: 3vw;
  color: red;
}

.play-list {
  list-style: none;
  line-height: 2.0em;
}

.play-instructions {
  font-family: 'Courier New';
  font-size: 1.5vw;
  color: white;
}

.hiro-link {
  text-decoration: none;
  font-family: 'Courier New';
  font-weight: bold;
  color: white;
}

.play-btn {
  color: #1A1A1A;
  border-radius: 30px;
  text-align: center;
  width: 6em;
  height: 2em;
  font-size: 3vw;
  font-family: 'Courier New';
}

.play-btn:hover {
  background: green;
  cursor: pointer;
  color: #F2F2F2;
}
